.LiqualitySwap {
  &_main {
    padding: 1rem;
  }
  
  &_logo {
    height: 40px;
  }

  &_logoText {
    height: 30px;
    margin: 0.5rem 0 0 1rem;
  }

  &_wrapper {
    width: 900px;
    margin: 20px auto;
  }
}