.WalletPanel {
  background: #FAFCFE; // background
  margin-top: 50px;
  padding: 40px 0 20px 0;

  &_left {
    margin-left: 80px;
  }

  &_right {
    margin-right: 80px;

    .WalletDisplay {
      float: right;
    }
  }
}
