@import '../../scss/variables.scss';

.WalletPanel {
  background: $color-bg-secondary;
  padding: 40px 0;
  min-height: 210px;

  &_left {
    margin-left: 15%;
  }

  &_right {
    margin-right: 15%;

    .WalletDisplay {
      float: right;
    }
  }

  &_walletImg {
    width: 40px;
  }
}
