@import '../../scss/variables.scss';

.BrandCard {
  padding: 7px 0 0 0;
  background: $color-bg-primary;
  box-shadow: 0px -2px 14px $color-shadow;
  border-radius: $swap-panel-radius;
  margin-bottom: 20px;

  &_whiteBar {
    position: absolute;
    width: 250px;
    height: 17px;
    top: 0%;
    left: 500px;
    border-radius: 25px;
    background: $color-bg-primary;
    p {
      font-size: 11px;
      text-align: center;
    }
  }

  &_top {
    padding: 0 7px 0 7px;
    z-index: $layer-top;
  }

  &_title {
    display: block;
    height: 75px;
    border-radius: 22px 22px 0 0;
    line-height: 2.5em;
    text-transform: uppercase;
    text-align: center;
    color: $color-bg-primary;
    background: $primary;
  }
}