.AssetSelector {
  &_list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &_asset {
    display: inline-block;
    margin: 0 20px;
    width: 200px;
    text-align: center;
    cursor: pointer;

    &_name {
      color: #333;
      margin-top: 20px;
    }

    &_icon {
      width: 100px;
    }
  }
}
