@import '../../scss/variables.scss';

.ExpirationDetails {
  text-align: left;
  display: flex;
  padding: 14px 30px;
  height: 90px;
  margin: 0 auto;
  background: $color-bg-primary;
  box-shadow: 0px 2px 14px $color-shadow;
  border-radius: $swap-panel-radius;

  &_passed, &_left {
    display: flex;
    align-items: center;
  }

  &_passed {
    margin-right: 20px;
  }

  &_left {
    margin-left: 20px;
  }

  &_clock {
    width: 25px;
    margin-right: 20px;
  }

  &_center {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  &_top,&_bottom {
    display: flex;
    justify-content: space-between;
  }

  &_terms {
    font-weight: bold;

    em {
      font-style: normal;
      color: $color-primary-1;
    }
  }

  &_link {
    cursor: pointer;
    img {
      margin-left: 10px;
    }
  }

  &_transactions {
    font-size: 11px;
  }

  &_transaction {

    &:nth-child(2) {
      text-align: right;
    }

    float: left;
    width: 50%;

    &_name {
      padding-right: 10px;
    }

    &_link {
      padding-right: 10px;
    }

    &_confirmations {
      color: $color-text-2;
    }

    &_missing {
      display: inline-block;
      width: 160px;
      color: $color-primary-1;
      text-align: left;
    }
  }

  &_progress {
    background: #D8E2F0;
    height: 3px;
    margin: 10px 0;

    &_fill {
      background: $color-primary-2;
      height: 3px;
    }
  }
}