@import '../../scss/variables.scss';

.CurrencyInputs {
  position: relative;
  $panel-spacing: 30px;
  width: 100%;

  &_left {
    margin-left: $panel-spacing;
  }

  &_right {
    margin-right: 1%;
    .CurrencyInput {
      float: right;
    }
  }

  &_switch {
    position: absolute;
    left: 47%;
    z-index: 10;
    top: 35%;
    &:hover {
      cursor: pointer;
    }
  }

  .Rate {
    position: absolute;
    margin: 0 auto;
    top: 85.5%;
    left: -1.7%;
    right: 0;
    z-index: 11;
  }
}