@import '../../scss/variables.scss';
@import '../../scss/mixins.scss';

.Rate {
  position: absolute;
  display: block;
  margin: 0 auto;
  top: 106px;
  left: 0;
  right: 0;
  text-align: center;
  z-index: $layer-bottom;
  width: 250px;

  &_circle {
    margin: 0 auto;
    display: block;
    width: 150px;
    height: 150px;
    margin-bottom: 2px;
    border-radius: 50%;
    padding: 30px 10px;
    background: $color-bg-primary;
  }

  &.error &_circle {
    border: 1px solid $danger;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
  }

  input[type='number'] {
    -moz-appearance:textfield;
  }

  &.strong {
    .Rate_stable, .Rate_equal, .Rate_amount {
      font-weight: bold;
      color: $color-text-1;
    }
  }

  &_heading {
    display: block;
    text-align: center;
    margin-bottom: 6px;
  }

  &_input {
    @include blank-input;
    width: 55px;
    height: 20px;
    text-align: center;
    font-size: $h6-font-size;
    font-weight: 500;
    border-bottom: 1px solid #c7c7c7;
  }

  &_equal {
    margin-bottom: 0px;
  }

  &_stable {
    margin-bottom: 0px;
  }

  &_errorMessage {
    @include error-message;
  }
}