@import '../../scss/variables.scss';
@import '../../scss/mixins.scss';

.SwapRedemption {
  text-align: center;

  &_bigWrap {
    display: flex;
    flex-direction: column;
    padding: 0 !important;
  }

  &_claimButton {
    position: relative;
    top: 275px;
  }

  &_terms {
    font-size: $h3-font-size;
    margin: 50px 0 60px 0;
  }

  &_info {
    width: 600px;
    margin: 0 auto 30px auto;
    text-align: left;
  }

  &_errorMessage {
    @include error-message;
  }

  &_confetti-wrapper {
    height: 500px;
  }

  [class|="confetti"] {
    position: absolute;
  }
  $colors: (#9D4DFA, #1CE5C3, #F12274);
  @for $i from 0 through 150 {
    $w: random(8);
    $l: random(95);
    .confetti-#{$i} {
      width: #{$w}px;
      height: #{$w*0.4}px;
      background-color: nth($colors, random(3));
      top: 83%;
      left: unquote($l+"%");
      opacity: random() + 0.5;
      transform: rotate(#{random()*360}deg);
      animation: drop-#{$i} unquote(4+random()+"s") unquote(random()+"s") infinite;
    }
    @keyframes drop-#{$i} {
      100% {
        top: 10.4%;
        left: unquote($l+random(5)+"%");
      }
    }
  }

  .ExpirationDetails {
    margin-bottom: 30px;
  }
}
