 @import '../../scss/variables.scss';

.TransactionDetails {
  text-align: left;
  display: flex;
  padding: 14px 30px;
  padding-bottom: 0;
  height: 100px;
  margin: 0 auto;
  background: #F1F4F7;
  border-bottom-left-radius: 22px;
  border-bottom-right-radius: 22px;

  &_passed, &_left {
    display: flex;
    align-items: center;
  }

  &_passed {
    margin-right: 20px;
  }

  &_left {
    margin-left: 20px;
  }

  &_clock {
    width: 25px;
    margin-right: 20px;
  }

  &_center {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  &_top {
    display: flex;
    justify-content: space-between;
  }
  
  &_bottom {
    display: flex;
    justify-content: space-between;
    background: #F1F4F7;
  }

  &_terms {
    font-weight: bold;

    em {
      font-style: normal;
      color: $color-primary-1;
    }
  }

  &_link {
    cursor: pointer;
    padding-top: 10px;
    img {
      margin-left: 10px;
    }
  }

  &_transactions {
    width: 100%;
    font-size: 11px;
  }

  &_transaction {

    &:nth-child(2) {
      text-align: right;
    }

    float: left;
    width: 50%;

    &_name {
      padding-right: 10px;
    }

    &_link {
      padding-right: 10px;
    }

    &_confirmations {
      color: $color-text-2;
    }

    &_missing {
      display: inline-block;
      width: 160px;
      color: $color-primary-1;
      text-align: left;
    }
  }

  &_transaction_right {
    display: flex;
    justify-content: flex-end;

    &:nth-child(2) {
      text-align: right;
    }

    float: right;
    width: 50%;

    &_name {
      padding-left: 25%;
    }

    &_link {
      padding-right: 10px;
    }

    &_confirmations {
      color: $color-text-2;
    }

    &_missing {
      display: inline-block;
      width: 160px;
      color: $color-primary-1;
      text-align: left;
    }
  }
}