.TopDetails {
    z-index: 10;
    width: 100%;
    padding: 0 !important;
    margin: 0;
    &_progress {
        background: #D8E2F0;
        height: 25px;
    
        &_fill {
          background: #1CE5C3;
          height: 25px;
        }
    }
}