@import '../../scss/variables.scss';

.WalletConnected {
  text-align: center;
  padding: 15px;

  h2 {
    padding: 10px;
    line-height: 2rem;
    color: $color-text-1;
  }

  &_divider {
    border-bottom: 3px solid $color-bg-secondary;
    margin-bottom: 5%;
  }

  &_subtitle {
    font-size: $h3-font-size;
    color: $color-text-2;
  }

  &_currencyBar {
    width: 150px;
    height: 21px;
    background: grey;
    margin: 0 auto;
    margin-top: -5%;
    color: $secondary;
    background: rgb(123,135,224);
    background: linear-gradient(90deg, rgba(123,135,224,1) 0%, rgba(113,177,210,1) 100%);
    border-radius: 25px;
  }

  &_wallet {
    border-radius: 10px;
    background-color: $color-bg-secondary;
    padding: 40px 10px;
    margin: 10px 5px 20px;

    h5 {
      padding-top: 7px;
      color: #333;
    }
  }
}
