.BackupLinkCard {
  text-align: center;

  h3 {
    @import '../../scss/variables.scss';
    font-weight: bold;
    color: $color-text-1;
    padding-top: 35px;
    text-align: center;
    
    img {
      width: 32px;
      margin-bottom: 10px;
    }
  }

  &_description {
    width: 400px;
    text-align: left;
    margin: 0 auto;
  }

  &_icon {
    margin-top: 30px;
    width: 40px;
  }
}
