@import '../../scss/variables.scss';
@import '../../scss/mixins.scss';

.SwapOfferConfirmation {
  .TimeProgressBar {
    margin: 20px;
  }

  &_terms {
    padding-top: 30px;
    text-align: center;
    font-weight: bold;
    font-size: $h3-font-size;
  }

  &_rate {
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
    font-size: $font-size-lg;
    color: $color-text-2;
  }

  &_info {
    width: 630px;
    margin: 0 auto;
    border-top: 1px solid #bababa;
    text-align: center;
    margin-top: 50px;
    padding-top: 50px;

    p:nth-child(1) {
      width: 280px;
      text-align: left;
      margin: 0 auto;
    }

    ul {
      display: inline-block;
      list-style-position: inside;
      padding-left: 0;

      li {
        text-align: left;
      }
    }
  }

  &_bottom {
    text-align: center;
    padding-top: 40px;
    min-height: 210px;
    border-radius: 0 0 7px 7px;
  }

  &_errorMessage {
    @include error-message;
  }
}
