@import '../../scss/variables.scss';
@import '../../scss/mixins.scss';

.SwapOfferConfirmation {
  .TimeProgressBar {
    margin: 20px;
  }

  &_terms {
    padding-top: 30px;
    text-align: center;
    font-size: $h1-font-size;
  }

  &_rate {
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
    font-size: $h4-font-size;
    color: $color-text-2;
  }

  &_bottom {
    text-align: center;
    margin-top: 20px;
    padding-top: 40px;
    min-height: 210px;
    border-radius: 0 0 7px 7px;
  }

  &_errorMessage {
    @include error-message;
  }
}
