@import '../../scss/variables.scss';

.CounterPartySelection {
  width: 460px;
  margin: 100px auto;
  background: #ffffff;
  text-align: center;
  padding: 56px 30px;
  background-color: white;
  border-radius: 5%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-position: bottom;
  background-repeat: no-repeat;
  -webkit-background-size: 100% 9px;
  -moz-background-size: 100% 9px;
  background-size: 100% 9px;
  background-image: webkit-linear-gradient(left, #8f60ee 0%,#719cd8 51%,#6fdec6 100%);
  background-image: -moz-linear-gradient(left, #8f60ee 0%, #719cd8 51%, #6fdec6 100%);
  background-image: -o-linear-gradient(left, #8f60ee 0%, #719cd8 51%, #6fdec6 100%);
  background-image: linear-gradient(to right, #8f60ee 0%,#719cd8 51%,#6fdec6 100%);

  h1 {
    margin-bottom: 30px;
  }

  &_buttons {
    margin-top: 60px;
  }
}
