@import '../../scss/variables.scss';

.CounterPartySelection {

  h2 {
    padding: 20px 0 20px 40px;
  }

  &_table {
    text-align: center;
    width: 100%;
    margin-bottom: 20px;

    thead {
      font-size: 16px;
    }

    tr {
      padding: 0 10px;
    }

    td, th {
      padding: 10px;
    }

    td.button {
      width: 200px;

      button {
        width: 100%;
      }
    }
  }

  &_buttons {
    text-align: center;
  }
}
