@import '../../scss/variables.scss';
@import '../../scss/mixins.scss';

.SwapInitiation {

  &_topBar {
    display: inline-block;
    width: 100%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    height: 200px;
    background: white;
    border: 2px solid black;
    font-family: $font-family-base;
  }

  &_logo {
    display: flex;
    justify-content: center;
  }

  &_buttonBottom {
    border-radius: 50px;
  }

  &_liqualityCircle {
    position: absolute;
    top: 192.5px;
    left: 375px;
    z-index: $layer-top;
    display: block;
    width: 150px;
    height: 150px;
    margin-bottom: 2px;
    border-radius: 50%;
    padding: 30px 10px;
    background: $color-bg-primary;
    border: 1px solid #D9DFE5;
    h3 {
      font-size: 12px;
      text-align: center;
      margin-top: 3px;
    }
  }

  &_assetSelector {
    padding-top: 20px;
    box-shadow: 0px 2px 14px $color-shadow;
    border-radius: 0 0 $swap-panel-radius $swap-panel-radius;
    background: $color-bg-primary;
    width: 100%;
    z-index: $layer-top;
  }
  
  &_top {
    width: 100%;
    padding-bottom: 75px;
    border-radius: 0 0 $swap-panel-radius $swap-panel-radius;
    z-index: $layer-top;
  }

  &_quoteTimer {
    padding: 30px;
  }

  &_bottom {
    position: relative;
    text-align: center;
    bottom: 50px;
    padding: 1px 30px 20px;
    background: $color-bg-primary;
    z-index: $layer-top;
  }

  &_counterPartyLabel {
    position: relative;
    background: $color-bg-primary;
    top: -20px;
    display: inline-block;
    margin: 0 auto;
    padding: 12px 16px;
    text-transform: uppercase;
    text-align: center;
    border-radius: $swap-panel-radius;
  }

  &_handshake {
    width: 70px;
    height: 70px;
    display: inline-block;
    position: relative;
    background: $color-bg-primary;
    top: -35px;
    right: -35px;
    left: -35px;
    border-radius: 50%;
    margin-bottom: -30px;

    img {
      width: 38px;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
    }
  }

  &_errorMessage {
    @include error-message;
  }

  .TransactionDetails {
    margin-bottom: 30px;
  }

  .InitiatorExpirationInfo {
    margin: 20px 0 30px 0;
  }

  .WalletPanel {
    position: relative;
    top: -22px;
    z-index: $layer-middle;
  }
}
