@import '../../scss/variables.scss';

.AssetSelection {
  position: relative;
  top: -10px;

  .SwapPairPanel {
    z-index: $layer-top;
  }

  .AssetSelector {
    margin-bottom: 20px;
  }

  &_wrapper {
    position: absolute;
    width: 100%;
    top: 80px;
    padding: 130px 0 28px 0;
    box-shadow: 0px 2px 14px $color-shadow;
    border-radius: 0 0 $swap-panel-radius $swap-panel-radius;
    background: $color-bg-primary;
    z-index: $layer-middle;
  }

  &_bottom {
    margin-top: 70px;
    text-align: center;
  }
}
