@import '../../scss/variables.scss';
@import '../../scss/mixins.scss';

.CurrencyInput {

  margin-top: 10%;

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
  }

  input[type='number'] {
    -moz-appearance:textfield;
  }

  width: 270px;

  &_inputBar {
    border-bottom: 1px solid #31E4C3;
    width: 65%;
    position: relative;
    left: 100px;
  }

  &_inputWrapper {
    padding-bottom: 3px;
    display: block;

    &.disabled {
      border: none;
    }
  }

  &_inputBigWrap {
    position: absolute;
    top: 50%;
    width: 200px;
  }
  &_DropdownWrap {
    h2 {
      color: black;
      display: inline;
      padding-top: 5%;
      :hover {
        cursor: pointer;
      }
    }
    &_toggler {
      display: inline-block;
      
    }
  }

  &_dropItem {
    height: 32px;
    width: 32px;
  }

  &_dropdownCode {
    position: absolute;
    top: 1.75%;
    left: 20%;
  }

  &_drop {
    &:hover {
      cursor: pointer;
    }
  }

  &_dropdownIcon {
    height: 18px;
    width: 18px;
    position: absolute;
    left: 30%;
  }

  &_dropdownKey {
    border-bottom: 1px solid #D9DFE5;
    &:hover {
      background-color: #F0F7F9;
    }
  }

  &_dropMenu {
    display: flex;
    flex-flow: column nowrap;
    background-color: white;
    margin-top: 3%;
    margin-left: 20%;
    border: 1px solid #D9DFE5;
    width: 100px;
  }

  &_listItem {
    display: flex;
    justify-content: center;
    &:hover {
      opacity: 75%;
    }
  }

  &_input {
    @include blank-input;
    display: block;
    width: 275px;
    height: 32px;
    text-align: right;
    font-size: $h2-font-size;
    font-weight: 500;

    &.error {
      border: 1px solid $danger;
    }
  }

  &_price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 275px;
    padding-bottom:2%;
  }

  &_labelSwap {
    color: #3D4767;
    font-weight: bold;
    font-size: $h5-font-size;
   }

  &priceFiat {
    text-align: right;
    font-size: $font-size-sm;
    color: $color-text-2;
    padding-top: 3px;
    border: 1px solid $color-text-1;
   }


  &_label {
    height: 20px;
    padding-top: 1px;
    font-size: $font-size-sm;
    text-align: right;
    color: #747E8D;
  }

  &_errorMessage {
    @include error-message;
  }
}