@import '../../scss/variables.scss';
@import '../../scss/mixins.scss';

.CurrencyInput {

	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
			-webkit-appearance: none;
			margin: 0;
	}

	input[type='number'] {
		-moz-appearance:textfield;
	}

	width: 320px;

	&_inputBar {
		border-bottom: 1px solid $color-primary-2;
		width: 220px;
		margin-left: 102px;
	}

	&_inputWrapper {
		width: 100%;
		&.disabled {
			border: none;
		}
	}
	&_dropdownWrap {
		position: absolute;
		z-index: $layer-top;
		h2 {
			color: $color-text-1;
			display: inline;
			:hover {
				cursor: pointer;
			}
		}
		&_toggler {
			display: inline-block;
		}
	}

	&_dropdownCurrencyText {
		margin-left: 12px;
	}

	&_dropdownCode {
		position: relative;
		top: 5px;
	}

	&_dropItem {
		height: 32px;
		width: 32px;
	}

	&_drop {
		&:hover {
			cursor: pointer;
		}
	}

	&_dropdownIcon {
		height: 18px;
		width: 18px;
		margin-left: 5px;
	}

	&_dropdownKey {
		border-bottom: 1px solid #D9DFE5;
		display: flex;
		flex-flow: row nowrap;
		justify-content: left;
		&:hover {
			background-color: #F0F7F9;
		}
	}

	&_dropMenu {
		display: flex;
		flex-flow: column nowrap;
		background-color: $color-bg-primary;
		margin-top: 3px;
		margin-left: 37px;
		border: 1px solid #D9DFE5;
		border-bottom: none;
		width: 100px;
	}

	&_listItem {
		display: flex;
		padding-left: 10px;
		justify-content: center;
	}

	&_input {
		@include blank-input;
		text-align: right;
		font-size: $h2-font-size;
		font-weight: 500;
		width: 320px;

		&.error {
			border: 1px solid $danger;
		}
	}

	&_price {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	&_labelSwap {
		color: #3D4767;
		font-weight: bold;
		font-size: $h5-font-size;
	 }

	&_priceFiat {
		text-align: right;
		font-size: $font-size-sm;
		color: $color-text-2;
		padding-top: 3px;
	 }


	&_label {
		height: 20px;
		padding-top: 1px;
		font-size: $font-size-sm;
		text-align: right;
		color: $color-text-2;
	}

	&_errorMessage {
		@include error-message;
	}
}