@import '../../scss/variables.scss';

.SwapCompleted {
  font-family: $font-family-base;
  &_top {
    width: 100%;
    h4 {
      text-align: center;
      color: $color-text-1;
      font-weight: 700;
    }
    h1 {
      text-align: center;
      font-size: 36px;
      color: $color-text-1;
    }
  }

  &_bottom {
    display: flex;
    flex-flow: row-reverse nowrap;
    justify-content: space-between;
  }

  &_bottomButton {
      display: flex;
      justify-content: center;
  }

  &_shareSection {
    h3 {
      font-size: 14px;
      font-weight: bold;
    }
    img {
      &:hover {
        cursor: pointer;
      }
    }
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
  }

  &_transactionHash {
    color: $color-primary-1;
  }

  &_shareLeft {
    display: flex;
    flex-flow: row nowrap;
  }
  &_shareRight {
    display: flex;
    flex-flow: row nowrap;
  }
}