@import '../../scss/variables.scss';

.SwapCompleted {
  font-family: $font-family-base;
  &_top {
    width: 100%;
    h4 {
      text-align: center;
      color: #3D4767;
      font-weight: 700;
      font-size: $h5-font-size;
    }
    h1 {
      text-align: center;
      font-size: 36px;
      color: $color-text-1;
    }
    h5 {
      color: $color-text-2;
      text-align: center;
    }
  }

  &_transactionTitle {
    font-weight: bold;
    color: $color-text-1;
  }

  &_receivedAmount {
    font-size: $h1-font-size;
    font-weight: 300;
  }

  &_sentAmount {
    font-size: 28px;
    text-align: center;
    font-weight: 300;
  }

  &_rateAmount {
    font-weight: 600;
    font-size: 24px;
    text-align: center;
  }

  &_confs {
    color: $color-text-2;
    padding-left: 2%;
  }

  &_confText {
    font-size: $h6-font-size;
    padding-left: .75%;
  }

  &_bottom {
    display: flex;
    flex-flow: row-reverse nowrap;
    justify-content: space-between;
    h4 {
      font-size: $h5-font-size;
    }
  }

  &_bottomButton {
      display: flex;
      justify-content: center;
  }

  &_shareSection {
    h3 {
      font-size: 14px;
      font-weight: bold;
    }
    img {
      &:hover {
        cursor: pointer;
      }
    }
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
  }

  &_right {
    padding-right: 3%;
    width: 100%;
  }

  &_left{ 
    padding-left: 4%;
    width: 100%;
  }

  &_transactionHash {
    color: $color-primary-1;
    width: 100%;
    padding-left: 1%;
  }

  &_shareLeft {
    display: flex;
    flex-flow: row nowrap;
  }
  &_shareRight {
    display: flex;
    flex-flow: row nowrap;
  }
}