@import '../../scss/variables.scss';

.WalletChoose {
  text-align: center;
  padding: 0 !important;

  &_divider {
    border-bottom: 3px solid $color-bg-secondary;
    margin-bottom: 5%;
  }

  &_currencyBar {
    width: 150px;
    height: 21px;
    background: grey;
    margin: 0 auto;
    margin-top: -2%;
    color: $secondary;
    background: rgb(123,135,224);
    background: linear-gradient(90deg, rgba(123,135,224,1) 0%, rgba(113,177,210,1) 100%);
    border-radius: 25px;
  }

  h1 {
    color: #fff;
    font-family: sans-serif;
    font-weight: 300;
    line-height: 1.6;
    color: #747E8D; // TODO: use sass vars
    text-align: center;
    font-size: 1.7rem;
    margin-bottom: 5%;
  }

  &_WalletsContainer {
    margin: 10px 5px 20px;
  }


  &_wallet {
    border-radius: 10px;
    background: $color-bg-secondary;
    padding: 10px;
    display: flex;
    align-items:center;
    cursor: pointer;
    margin-bottom: 1%;

    &:hover {
      background-color: #f1f0f9;
    }

    h5 {
      margin-bottom: 0;
    }

    &_image {
      margin-right: 15px;
      width: 20px;
    }
  }
}
