@import '../../scss/variables.scss';

.WalletDisplay {
  text-align: center;
  width: 130px;
  min-height: 114px;

  p {
    margin-bottom: 2px;
  }

  &_icon {
    height: 20px;
    margin-bottom: 6px;
  }

  &_address {
    width: 130px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: $font-size-sm;
    color: $color-text-2;
    padding-bottom: 4px;
    &:hover {
      overflow: visible;
    }
  }

  &_message {
    font-size: $font-size-sm;
    color: $primary;
    &.error {
      color: $danger;
    }
  }

  &_balance {
    color: $color-text-2;
  }
}
