@import '../../scss/variables.scss';
@import '../../scss/mixins.scss';

.WalletDisplay {
  text-align: center;
  width: 160px;

  &_type {
    position: relative;
    top: -16px;
    p {
      padding: 0;
      margin: 0;
    }
  }

  &.error > &_wrapper {
    padding: 10px 0;
    border: 1px solid $danger;
  }

  &_icon {
    height: 20px;
  }

  &_address {
    width: 160px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: $font-size-sm;
    color: $color-text-2;
    &:hover {
      overflow: visible;
    }
    p {
      
    }

    &.error {
      border: 1px solid $danger;
      padding: 2px 4px;
    }
  }

  &_addressButtons {
    position: relative;
    top: -25px;
    background: none;
  }

  &_addressWhole {
    display: inline-block;
  }

  &_walletAddressConnected {
    padding-left: 5%;
    padding-top: 1.5%;
  }

  &_message {
    font-size: $font-size-sm;
    color: $primary;
    &.error {
      color: $danger;
    }
  }

  &_balance {
    color: $color-text-2;

    &.error {
      border: 1px solid $danger;
    }
  }

  &_errorMessage {
    @include error-message;
  }
}
