@import '../../scss/variables.scss';

.WalletConnecting {
  padding: 15px;
  text-align: center;

  &_wallet {
    text-align: left;
    border-radius: 16px;
    background-color: $color-bg-secondary;
    padding: 10px 16px;
  }

  &_imgContainer {
    display: inline-block;
    width: 70px;
  }

  &_header {
    display: flex;
    img {
      width: 35px;
    }
    h3 {
      color: $color-text-1;
      width: 100%;
      margin: 0;
      padding-top: 6px;
    }
  }

  &_error {
    display: flex;
    padding-top: 10px;
    img {
      height: 25px;
      margin-left: 14px;
      margin-top: 8px;
    }
    &_message {
      width: 100%;
      color: $danger;
      margin: 0;
    }
  }

  h2 {
    font-size: $h1-font-size;
    color: $color-text-1;
    padding: 16px 10px;
    margin: 0;
  }

  & > p {
    padding: 0 10px 30px 10px;
  }
}
