@import 'scss/variables.scss';
@import 'node_modules/bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap');

body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

#root {
  height: 100%;
}