@import 'scss/variables.scss';
@import 'node_modules/bootstrap/scss/bootstrap';

body {
  margin: 0;
  padding: 0;
  background: #eee;
}

.liquality-wrapper {
  position: relative;
  margin-top: 30px;
  padding: 0!important;
  background: transparent!important;
  box-shadow: none!important;
}
