@import './variables.scss';

@mixin blank-input {
  border: 0;
  outline: 0;
  background: none;
}

@mixin currency-bar {
  width: 150px;
  font-family: $font-family-base;
  height: 21px;
  margin: 0 auto;
  color: $secondary;
  background: rgb(123,135,224);
  background: linear-gradient(90deg, rgba(123,135,224,1) 0%, rgba(113,177,210,1) 100%);
  border-radius: 25px;
}

@mixin error-message {
  height: $font-size-sm;
  color: $danger;
  font-size: $font-size-sm;
  line-height: $font-size-sm;
  padding: 2px 0;
  box-sizing: content-box;
  text-align: center;
}

@mixin popup {
  margin-top: -200px;
  margin-left: -250px;
  font-family: sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 500px;
  min-height: 300px;
  background-color: white;
  border-radius: 5%;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-position: 0 0, 0 0;
  background-repeat: no-repeat;
  -webkit-background-size: 100% 9px;
  -moz-background-size: 100% 9px;
  background-size: 100% 9px;
  background-image: webkit-linear-gradient(left, #8f60ee 0%,#719cd8 51%,#6fdec6 100%);
  background-image: -moz-linear-gradient(left, #8f60ee 0%, #719cd8 51%, #6fdec6 100%);
  background-image: -o-linear-gradient(left, #8f60ee 0%, #719cd8 51%, #6fdec6 100%);
  background-image: linear-gradient(to right, #8f60ee 0%,#719cd8 51%,#6fdec6 100%);
}

@mixin stepper {
  $this: &;
  #{$this} &_label {
    color: $color-text-2;

    #{$this}_label_active {
      color: $color-text-2;
      font-weight: bold;
    }

    #{$this}_label_completed {
      color: $color-text-2;
    }

    #{$this}_icon {
      width: 30px;
      height: 30px;
      border: 1px solid $primary;
      color: #ffffff;
      border-radius: 50%;

      #{$this}_icon_text {
        fill: $primary;
      }
    }

    #{$this}_icon_active {
      color: $primary;
      border: 0;
      #{$this}_icon_text {
        fill: #ffffff;
      }
    }
  }
}