
// colors
$color-primary-1: #9D4DFA;
$color-primary-2: #1CE5C3;
$color-error: #F12274;
$color-bg-primary: #FFFFFF;
$color-bg-secondary: #F7F8F9;

$color-text-1: #1D1E21;
$color-text-2: #747E8D;

$color-shadow: rgba(69, 73, 91, 0.04);

$primary: $color-primary-1;
$secondary: #ffffff;
$danger: $color-error;
$body-color: $color-text-1;

// font
$font-size-base: 0.875rem;
$font-size-sm: 0.75rem;
$font-size-lg: 1rem;

$h1-font-size: 30px;
$h2-font-size: 24px;
$h3-font-size: 20px;
$h4-font-size: 18px;
$h5-font-size: 14px;
$h6-font-size: 12px;

$headings-color: $color-text-2;
$headings-font-weight: 300;
$headings-font-family: 'Montserrat', sans-serif;
$font-family-base: 'Montserrat', sans-serif;

// sizes
$swap-panel-radius: 22px;
$input-border-radius: 25px;

// buttons
$btn-padding-y:               12px;
$btn-padding-x:               20px;
$btn-font-size:               $font-size-lg;
$btn-font-weight:             600;
$btn-box-shadow:              none;
$btn-disabled-opacity:        .65;
$btn-link-disabled-color:     $color-bg-primary;
$btn-border-radius:           22px;


// layers
$layer-bottom: 1;
$layer-middle: 2;
$layer-top: 3;
$layer-backdrop: 4;
$layer-popup: 5;

@import 'node_modules/bootstrap/scss/_functions';
@import 'node_modules/bootstrap/scss/_variables';