@import '../../scss/variables.scss';

.StatusMessage {
  height: 400px;
  text-align: center;
  padding: 7px 20px;
  width: 650px;
  margin: 0 auto;
  z-index: 10;

  &_complete {
    background: none;
    padding: 12px 20px;
    display: none;
  }

  &_circle {
    margin: 0 auto;
    margin-top: 25%;
    display: block;
    width: 250px;
    height: 250px;
    margin-bottom: 2px;
    border-radius: 50%;
    padding: 30px 10px;
    background: $color-bg-primary;
    border: 1px solid #D9DFE5;
  }

  &_wrapper {
    display: inline-flex;
    align-items: flex-start;
    margin: 0 auto;
  }

  img {
    display: block;
    float: left;
    width: 30px;
    margin-right: 15px;
  }

  &_message {
    font-weight: bold;
    font-size: $h4-font-size;
    line-height: 1.75;
    padding-top: 20%;
  }

  &_complete &_message {
    font-weight: normal;
    font-size: $h5-font-size;
    line-height: 30px;
    padding-top: 0;
  }

  &_estimate {
    font-size: $font-size-sm;
    color: $color-text-2;
    padding-top: 2px;
  }

  &_timer {
    width: 160px;
    height: 160px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    margin: 0 auto;

    &_progress {
      fill: none;
      stroke: $color-primary-2;
      stroke-width: 2px;
      transition: stroke-dashoffset 0.7s;
      stroke-dasharray: 628.319;
      stroke-dashoffset: -1256.64;
    }

    &_pointer {
      transform: rotate(0deg);
      animation-iteration-count: 1;
      &_c {
        fill: #FFF;
        stroke: $color-primary-2;
        stroke-width: 2px;
      }
    }
  
  @keyframes animate {
      0% {
          transform: rotate(0deg);
      }
      100% {
          transform: rotate(360deg);
      }
  }
  
  &_spinningGradient {
    position: relative;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    background: linear-gradient(#f07e6e, #84cdfa, #5ad1cd);
    animation: animate 1.2s linear infinite;
    border: 1px solid black;
    span{
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background: linear-gradient(#f07e6e, #84cdfa, #5ad1cd);
      span:nth-child(1) {
        filter: blur(5px);
    }
    span:nth-child(2) {
      filter: blur(10px);
  }
  span:nth-child(3) {
    filter: blur(25px);
}
span:nth-child(4) {
  filter: blur(50px);
}
    }
    }
  
  &_spinningGradient:after {
      content: '';
      position: absolute;
      top: 10px;
      left: 10px;
      right: 10px;
      bottom: 10px;
      background: #f1f1f1;
      border: solid white 10px;
      border-radius: 50%;
  }
  }
}